*,
st *::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}
html,
body {
  height: 100%;
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
input,
button,
textarea,
select {
  font: inherit;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
ul {
  list-style: none;
  text-decoration: none;
}
a {
  text-decoration: none;
  display: block;
}
#root,
#__next {
  isolation: isolate;
}

:root {
  --txt-primary-clr: rgb(136, 142, 176);
  --txt-secondary-clr: rgb(12, 14, 22);

  --btn-primary-clr: rgb(124, 93, 250);
  --btn-secondary-clr: rgb(236, 87, 87);
  --btn-ternary-clr: rgb(37, 41, 69);

  --paid-btn-clr: rgb(51, 214, 159);
  --pending-btn-clr: rgb(255, 143, 0);
  --draft-btn-clr: rgb(55, 59, 83);

  --bg-primary: rgb(248, 248, 251);
  --bg-check: rgb(223, 227, 250);
  --bg-ternary: rgb(55, 59, 83);
  --bg-secondary: rgb(248, 248, 251);
  --bg-page-due-box: rgb(55, 59, 83);
  --bg-drawer: rgb(255, 255, 255);

  --bg-list-item: rgb(255, 255, 255);
  --bg-dropdown: white;
  --dropdown-box-shadow: rgba(72, 84, 159, 0.25) 0px 10px 20px;
  --bg-drawer-add-btn: rgb(249, 250, 254);
  /* --list-item-border: 1px solid transparent; */
}

body {
  font-family: Spartan, sans-serif;
  font-size: 12px;
  background-color: var(--bg-primary);
  position: relative;
  transition: background 0.3s ease 0s;
  /* opacity: 0.8; */
}

.c-button {
  cursor: pointer;
  border: none;
  border-radius: 1.5rem;
  padding: 1rem 1.5rem;
  font-weight: bold;

  transition: background-color 0.3s ease 0s, color 0.3s ease 0s;
}

.drawer {
  max-width: 750px;
  padding-top: 3rem;
  padding-left: 9.5rem;
  padding-right: 2rem;
  height: 100%;
  position: fixed;
  border-top-right-radius: 1rem;
  border-bottom-right-radius: 1rem;
  left: 0;
  top: 0;
  transform: translateX(-750px);

  background-color: var(--bg-drawer);
  z-index: 3;

  transition: transform 0.5s cubic-bezier(0.82, 0.085, 0.395, 0.895);
}

.drawer-box {
  height: 80%;
  overflow-y: scroll;
  padding-right: 2rem;
  margin: 2.5rem 0rem;
  padding-bottom: 1.5rem;
  /* pointer-events: none; */
}

.drawer-heading {
  font-size: 1.5rem;
  font-weight: bold;
  color: var(--txt-secondary-clr);
}

.drawer-box-heading {
  color: var(--btn-primary-clr);
  font-weight: bold;
}

.drawer-to-box .drawer-box-heading {
  margin-top: 2.5rem;
}

.drawer-input-box {
  margin-top: 1.5rem;
}

.drawer-input {
  width: 100%;
  font-weight: bold;
  padding: 0.8rem;
  border: 1px solid var(--bg-check);
  outline: none;
  margin-top: 0.5rem;
  background-color: var(--bg-list-item);
  color: var(--txt-secondary-clr);
}

#input-description::placeholder,
#input-client-email::placeholder {
  color: var(--txt-primary-clr);
  font-weight: bold;
}

.drawer-input:visited,
.drawer-input:focus {
  border: 1px solid rgb(124, 93, 250);
}

.drawer-input-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.drawer-input-container .drawer-input-box {
  width: 31%;
}

.drawer-input-txt {
  color: var(--txt-primary-clr);
}

.drawer-input-container .input-box-of2 {
  width: 48%;
}

.drawer-items-heading {
  font-size: 1.2rem;
  font-weight: bold;
  color: rgb(119, 127, 152);
  margin-top: 2.5rem;

  transition: color 0.3s ease 0s;
}

.drawer-items-container {
  display: flex;
}

.drawer-items-container1 {
  display: flex;
  position: relative;
}

.drawer-item-total {
  padding: 0.8rem;
  margin-top: 1rem;
  color: var(--txt-primary-clr);
  font-weight: bold;
}

.drawer-item-delete-img {
  position: absolute;
  right: 0;
  bottom: 1rem;
  cursor: pointer;
  margin: 0;
}

.drawer-item-delete-img:hover {
  filter: invert(68%) sepia(58%) saturate(5674%) hue-rotate(324deg)
    brightness(91%) contrast(103%);
}

.item-qty-box {
  width: 12%;
  margin-left: 1rem;
}

.item-price-box {
  width: 18%;
  margin-left: 1rem;
}

.drawer-item-add-btn {
  width: 100%;
  padding: 1rem;
  background-color: var(--bg-drawer-add-btn);
  color: var(--txt-primary-clr);

  transition: background-color 0.3s ease 0s, color 0.3s ease 0s;
  border-radius: 1.5rem;
  border: none;
  margin-top: 1rem;
  font-weight: bold;
  cursor: pointer;
}

.drawer-btns-box {
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
}
.drawer-btns-container {
  display: flex;
}

.drawer-discard-btn {
  background-color: var(--bg-drawer-add-btn);
  color: var(--txt-primary-clr);
  margin-right: 0.5rem;
}

.drawer-save-draft-btn {
  background-color: var(--bg-ternary);
  color: var(--txt-primary-clr);
  margin-right: 0.5rem;
}

.drawer-save-send-btn {
  background-color: var(--btn-primary-clr);
  color: white;
}

/* .drawer-btns-box button { */
/*   border: none; */
/*   border-radius: 1.5rem; */
/*   padding: 1rem 1.5rem; */
/*   font-weight: bold; */
/* } */

.invoice-page {
  margin-left: 7rem;
  padding-top: 3.5rem;
  /* display: none; */
}
.invoice-page-div {
  max-width: 650px;
  margin: 0 auto;
  /* margin-top: 1rem; */
}

.go-back-btn {
  border: none;
  cursor: pointer;
  background-color: inherit;
  margin-bottom: 1.8rem;
  color: var(--txt-secondary-clr);
  transition: color 0.3s ease 0s;
}
.go-back-btn:hover .go-back-btn-txt {
  color: rgb(136, 142, 176);
}
.go-back-btn,
img {
  display: inline-block;
  margin-right: 1rem;
}
.invoice-page-box1 {
  display: flex;
  padding: 1.5rem;
  background-color: var(--bg-list-item);
  justify-content: space-between;
  border-radius: 8px;
  transition: background 0.3s ease 0s;
}
.status-txt {
  margin-right: 1rem;
  color: var(--txt-primary-clr);
}
.invoice-page-container {
  display: flex;
  align-items: center;
  position: relative;
}

.invoice-page-edit-btn {
  margin-right: 1rem;
  background-color: var(--bg-secondary);
  color: var(--txt-primary-clr);
  transition: background 0.3s ease 0s;
}

.invoice-page-delete-btn {
  margin-right: 1rem;
  background-color: var(--btn-secondary-clr);
  color: white;
  transition: background 0.3s ease 0s;
}

.invoice-page-mark-paid-btn {
  background-color: var(--btn-primary-clr);
  color: white;
  transition: background 0.3s ease 0s;
}

.invoice-page-box2 {
  margin-top: 1.5rem;
  padding: 1.5rem;
  background-color: var(--bg-list-item);
  color: var(--txt-primary-clr);
  border-radius: 8px;
  transition: background 0.3s ease 0s;
}

.invoice-page-container1 {
  display: flex;
  justify-content: space-between;
  position: relative;
  margin-bottom: 3rem;
}

.page-item-id {
  font-size: 1rem;
  font-weight: bold;
  color: var(--txt-secondary-clr);
}

.page-bill-from-box {
  text-align: right;
}

.invoice-page-date-box {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.page-invoice-date,
.page-due-date {
  color: var(--txt-secondary-clr);
  font-size: 0.9rem;
  font-weight: bold;
  margin-top: 5px;
}

.page-to-name {
  font-size: 0.9rem;
  font-weight: bold;
  color: var(--txt-secondary-clr);
  margin-top: 0.6rem;
  margin-bottom: 5px;
}

.page-to-email {
  font-size: 0.8rem;
  color: var(--txt-secondary-clr);
  font-weight: bold;
  margin-top: 0.6rem;
}

.invoice-page-item-table {
  width: 100%;
  padding: 1.5rem;
  text-align: right;
  background-color: var(--bg-secondary);
  transition: background 0.3s ease 0s;
}

.invoice-page-item-head th {
  font-weight: normal;
}

.invoice-page-item td {
  padding-top: 2rem;
  font-weight: bold;
}

.page-item-name,
.page-item-total {
  color: var(--txt-secondary-clr);
}

.th-align-l {
  text-align: left;
}

.th-align-c {
  text-align: center;
}

.invoice-page-due-box {
  background-color: var(--bg-page-due-box);
  display: flex;
  padding: 1.8rem;
  color: white;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  justify-content: space-between;
  align-items: center;
  font-weight: bold;
  transition: background 0.3s ease 0s;
}
.page-amount-due {
  font-size: 1.5rem;
}

.app-container {
  display: none;
  height: 100%;
  margin-left: 7rem;
  padding-top: 1.2rem;
  position: relative;
}

.overlay {
  display: none;
  width: 100%;
  height: 100%;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
  z-index: 2;
  position: fixed;
  top: 0;
  left: 0;
  transition: background 0.5s linear;
}

.side-box {
  background-color: var(--bg-ternary);
  width: 6.5rem;
  height: 100%;
  border-top-right-radius: 1.2rem;
  border-bottom-right-radius: 1.2rem;
  position: absolute;
  left: 0;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  z-index: 3;
  transition: background 0.3s ease 0s;
}

.logo-box {
  background-color: var(--btn-primary-clr);
  width: 100%;
  height: 6.5rem;
  border-bottom-right-radius: 1.2rem;
  border-top-right-radius: 1.2rem;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo-img {
  width: 2.5rem;
  z-index: 1;
}

.logo-box-half {
  width: 100%;
  height: 50%;
  background-color: rgb(146, 119, 255);
  position: absolute;
  bottom: 0;
  border-top-left-radius: 1.2rem;
  border-bottom-right-radius: 1.2rem;
}

.theme-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  margin-bottom: 1rem;
  width: 100%;
}

.avatar-img-box,
.theme-img {
  padding: 0.3rem;
  margin-left: 1rem;
  cursor: pointer;
}

.h-line {
  width: 100%;
  height: 1px;
  background-color: rgb(73, 78, 110);
  margin-bottom: 1rem;
  margin-top: 2rem;
}

.avatar-img {
  width: 2rem;
  border-radius: 100%;
}

.invoice-box {
  max-width: 730px;
  margin: 2rem auto;
}
.invoice-about-box {
  display: flex;
  justify-content: space-between;
}

.invoice-about-left h1 {
  font-size: 2rem;
  letter-spacing: -1px;
  color: var(--txt-secondary-clr);
}

.invoice-about-left p {
  color: var(--txt-primary-clr);
}

.invoice-about-right {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  padding-left: 2.5rem;
}

.filter-btn {
  display: flex;
  align-items: center;
  font-weight: bold;
  border: none;
  background-color: var(--bg-primary);
  cursor: pointer;
  padding: 0.5rem 0rem;
  margin-right: 2.5rem;
  color: var(--txt-secondary-clr);
  transition: color 0.3s ease 0s, background 0.3s ease 0s;
}
.filter-btn-txt2 {
  pointer-events: none;
  display: none;
}
.filter-btn-txt {
  pointer-events: none;
}

.filter-btn-img {
  margin-left: 1rem;
  transition: transform 0.3s ease 0s;
  pointer-events: none;
}

.new-invoice-btn {
  display: flex;
  align-items: center;
  border: none;
  height: 3rem;
  background-color: var(--btn-primary-clr);
  /* transition: background 0.3s ease 0s, color 0.3s ease 0s; */
  color: white;
  font-weight: bolder;
  border-radius: 2rem;
  padding-left: 0.5rem;
  padding-right: 1rem;
  cursor: pointer;
}

.new-invoice-btn-txt2 {
  display: none;
}

.filter-dropdown-txt {
  pointer-events: none;
}
.filter-dropdown {
  min-width: 12rem;
  display: none;
  position: absolute;
  color: var(--txt-secondary-clr);
  top: 100%;
  left: 0;
  background-color: var(--bg-dropdown);
  z-index: 1;
  font-weight: bold;
  padding: 1.5rem;
  border-radius: 8px;
  box-shadow: var(--dropdown-box-shadow);
  transition: background 0.3s ease 0s, display 0.3s ease 0s;
}

.filter-dropdown-check {
  width: 1rem;
  height: 1rem;
  display: inline-block;
  background-color: var(--bg-check);
  transition: background 0.3s ease 0s;
  margin-right: 1rem;
  border: 1px solid transparent;
  border-radius: 3px;
  transition: border 0.3s ease 0s, background 0.3s ease 0s;
  pointer-events: none;
}

.filter-checked {
  background: url("public/assets/icon-check.svg") no-repeat center;
  background-color: rgb(124, 93, 250);
  pointer-events: none;
}

.filter-dropdown-item:hover .filter-dropdown-check {
  border-color: rgb(146, 119, 255);
}

.filter-dropdown-item:not(:last-child) {
  margin-bottom: 0.8rem;
}

.filter-dropdown-item {
  display: flex;
  cursor: pointer;
}

.new-invoice-btn-img {
  background-color: white;
  padding: 0.6rem;
  border-radius: 50%;
  margin-right: 0.5rem;
  pointer-events: none;
}

.invoice-list-box {
  margin-top: 4rem;
}

.invoice-list {
  padding: 0;
}

.list-item-link {
  display: flex;
  background-color: var(--bg-list-item);
  padding: 1rem 1.5rem;
  border: 1px solid transparent;
  /* justify-content: space-between; */
  align-items: center;
  border-radius: 8px;
  color: var(--txt-primary-clr);
  position: relative;
  transition: border 0.3s ease 0s, background 0.3s ease 0s;
}

.list-item-link:hover {
  border-color: rgb(146, 119, 255);
}

.list-item-date {
  margin-right: 2rem;
}

.list-item-name {
  margin-right: 3rem;
}

.list-item-id,
.list-item-amount {
  font-weight: bold;
  color: var(--txt-secondary-clr);
  margin-right: 2rem;
}

.hash-txt {
  color: var(--txt-primary-clr);
}

/* .list-item-id span { */
/*   color: var(--txt-primary-clr); */
/* } */
.list-item-amount {
  font-size: 1.1rem;
  /* background-color: red; */
  width: 10rem;
  text-align: right;
}

.list-item-img {
  position: absolute;
  right: 0.4rem;
}

.list-item-btn {
  font-weight: bold;
  padding: 0.7rem;
  text-align: center;
  border-radius: 5px;
  width: 6.5rem;
}

.paid-btn {
  color: var(--paid-btn-clr);
  background-color: rgba(51, 214, 159, 0.05);
}

.pending-btn {
  color: var(--pending-btn-clr);
  background-color: rgba(255, 143, 0, 0.05);
}

.draft-btn {
  color: var(--draft-btn-clr);
}

.list-item-btn-dot {
  display: inline-block;
  width: 0.45rem;
  height: 0.45rem;
  border-radius: 50%;
  margin-right: 0.5rem;
}

.paid-btn-dot {
  background-color: var(--paid-btn-clr);
}
.pending-btn-dot {
  background-color: var(--pending-btn-clr);
}

@media (max-width: 900px) {
  .side-box {
    width: 100%;
    height: 5rem;
    border-radius: 0%;
    flex-direction: row;
    position: fixed;
    top: 0;
  }

  .logo-img {
    width: 2rem;
    margin-left: 1rem;
  }

  .logo-box {
    width: 6rem;
    height: 100%;
  }

  .theme-box {
    height: 5rem;
    flex-direction: row;
    justify-content: flex-end;
    margin: 0;
  }

  .h-line {
    width: 1px;
    height: 100%;
    margin: 0;
  }

  .avatar-img-box,
  .theme-img {
    margin-top: 0.5rem;
    cursor: pointer;
    padding: 0rem 1rem;
  }

  .app-container {
    display: none;
    margin: 0;
    position: relative;
    margin-top: 7rem;
    padding: 0rem 1.5rem;
  }

  .drawer {
    max-width: 650px;
    padding-left: 2.5rem;
    /* top: 5rem; */
    margin-top: 5rem;
    transition: transform 0.5s cubic-bezier(0.82, 0.085, 0.395, 0.895);
    padding-bottom: 6rem;
  }

  .invoice-about-right {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    padding-left: 0.2rem;
  }
  .list-item-id {
    order: 1;
  }
  .list-item-date {
    order: 2;
    position: absolute;
    bottom: 0;
    margin-bottom: 2.5rem;
  }
  .list-item-name {
    order: 4;
    position: absolute;
    right: 0;
    margin: 0;
    margin-right: 1.5rem;
  }
  .list-item-amount {
    order: 3;
    position: absolute;
    bottom: 0.8rem;
    width: 70%;
    text-align: left;
  }
  .invoice-list-box .list-item-btn {
    order: 5;
    position: absolute;
    right: 0;
    margin-right: 1.5rem;
    bottom: 0;
    margin-bottom: 0.8rem;
  }

  .list-item-link {
    height: 7rem;
    align-items: flex-start;
  }

  .list-item-img {
    display: none;
  }

  .filter-dropdown {
    min-width: 12rem;
    left: -2rem;
  }

  .invoice-page {
    /* margin: 0rem 1rem; */
    /* margin-left: 7rem; */
    margin: 0;
    padding-top: 7rem;
    /* display: none; */
    position: relative;
  }

  .invoice-page-div {
    margin: 0 1rem;
  }
}

@media (max-width: 550px) {
  .drawer {
    padding-left: 1rem;
    padding-right: 1rem;
  }
  .drawer-box {
    padding-right: 1rem;
  }
  .invoice-about-left h1 {
    font-size: 1.3rem;
  }

  .filter-btn {
    margin-right: 0.1rem;
  }
  .filter-btn-txt2 {
    display: block;
  }
  .filter-btn-txt {
    display: none;
  }

  .filter-btn-img {
    margin-left: 0.8rem;
  }

  .new-invoice-btn-txt {
    display: none;
  }
  .new-invoice-btn-txt2 {
    display: block;
  }

  .filter-dropdown {
    min-width: 12rem;
    left: -3rem;
    margin-top: 0.8rem;
  }

  .invoice-page-item-head {
    display: none;
  }

  .page-item-qty,
  .page-item-price {
    display: none;
  }

  .page-amount-due {
    font-size: 0.9rem;
  }

  .invoice-page-item td {
    padding-top: 0;
  }
}

@media (max-width: 600px) {
  .drawer-input-container .drawer-input-box {
    flex-grow: 1;
    width: 40%;
  }

  .drawer-input-container .drawer-input-box:first-child {
    margin-right: 1rem;
  }

  .drawer-items-container .drawer-input-box {
    /* flex-grow: 1; */
    margin-left: 0;
  }

  .drawer-items-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
  }

  .drawer-items-container1 {
    margin-top: 1rem;
  }

  .item-qty-box {
    width: 15%;
    margin-right: 1rem;
  }
  .item-price-box {
    width: 35%;
  }

  .invoice-page-container1:first-child {
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 2rem;
  }

  .invoice-page-send-to-box {
    position: absolute;
    bottom: 0;
  }
  .invoice-page-container1:nth-child(2) {
    padding-bottom: 5rem;
    justify-content: flex-start;
  }

  .page-bill-from-box {
    margin-top: 2rem;
  }
  .page-bill-to-box {
    margin-left: 7rem;
  }

  body {
    overflow-y: scroll;
  }

  .invoice-page {
    padding-bottom: 11rem;
  }

  .invoice-page-container:nth-child(2) {
    position: absolute;
    bottom: 0;
    background-color: var(--bg-list-item);
    /* width: 100%; */
    padding: 1.5rem 1rem;
    display: flex;
    width: 100%;
    left: 0;
    right: 0;
    justify-content: flex-end;
    /* padding-right: 1rem; */
  }

  .invoice-page-container:first-child {
    width: 100%;
    justify-content: space-between;
  }
}

@media (max-width: 410px) {
  .app-container {
    /* display: none; */
    padding: 0rem 1rem;
  }

  .c-button {
    border-radius: 100%;
  }

  .invoice-page-edit-btn,
  .invoice-page-delete-btn {
    border-radius: 1.5rem;
  }

  .drawer {
    padding-bottom: 9rem;
  }

  .page-bill-to-box {
    margin-left: 5rem;
  }
}

@media (max-width: 315px) {
  .invoice-page-edit-btn,
  .invoice-page-delete-btn {
    margin-right: 0.5rem;
  }

  .invoice-page-container:nth-child(2) {
    padding: 1rem 0.5rem;
  }
}
